@import "../../assets/style/colors.scss";

.anonim-settings {
    width: fit-content;
    display: flex;

    &__body {
        background: #28292d;
        border-radius: 8px;
        padding: 10px 20px 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;
    }

    &__check {
    }

    &__template {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__ava-block {
        transform: translate(0, 10px);
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        span {
            opacity: 0.8;
        }
    }

    &__default-ava,
    &__blured-ava {
        width: 40px;
        height: 40px;
        transition: 0.12s ease;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0px 3px 10px 2px rgba(20, 20, 20, 0.555);
    }

    &__arrow {
        position: relative;
        width: 80px;
        height: 60px;
        transform: scale(50%) translate(0%, 0%);
    }

    &__arrow-inner {
        border-radius: 3px;
        opacity: 0.5;
        position: absolute;
        top: 25px;
        width: 90%;
        height: 10px;
        background-color: #fff;
        &::after,
        &::before {
            border-radius: 3px;
            content: "";
            position: absolute;
            width: 60%;
            height: 10px;
            right: -8px;
            background-color: #fff;
        }
        &::after {
            top: -12px;
            transform: rotate(45deg);
        }
        &::before {
            top: 12px;
            transform: rotate(-45deg);
        }
    }

    &__blured-ava {
        img {
            filter: blur(3px);
        }
    }
}

.profile-referal {
    background: #222328;
    border-radius: 8px;
    padding: 24px;
    column-gap: 12px;
    display: grid;
    grid-template: auto auto auto / 1fr;
    h4 {
        @media (max-width: 1600px) {
            grid-column: span 1;
        }
        grid-column: span 2;
    }
    &__input {
        margin-top: 24px;
        align-self: center;
    }
    &__info-blocks {
        @media (max-width: 1600px) {
            margin-top: 16px;
            grid-row: span 1;

            .infoItemsLarge {
                height: unset;
                width: unset;
                flex: 1 1 33.33%;
            }
        }

        grid-row: span 2;

        display: flex;
        gap: 8px;

        max-width: calc(136px * 3 + 8px * 2);
    }
    &__info-line {
        margin-top: 16px;
        align-self: start;
        display: flex;
        gap: 9px;
        align-items: center;
        flex-wrap: wrap;
    }
    &__info-line-item {
        img {
            margin-right: 5px;
        }
        gap: 5px;
        padding: 8px 12px;
    }
    &__go-faq {
    }
}

.referal-go-faq {
    .referal-go-faq__body {
        cursor: pointer;
        transition: 0.15s ease;
        background: #28292d;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(1);
        background-color: rgb(97, 81, 40);

        box-shadow: 0px 0px 0px 0px rgba(255, 197, 50, 0);
        &:hover {
            box-shadow: 0px 0px 0px 3px rgba(255, 197, 50, 0.7);
        }
        b {
            transform: translateX(1px);
            color: rgb(255, 198, 50);
            font-size: 2em;
        }
    }
}

.profile-settings {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__trade-url {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;

        .divInput {
            flex: 1 1 auto;
        }

        @media (max-width: 1024px) {
            flex-wrap: wrap;

            .divInput {
                flex: 1 1 100%;
            }
        }
    }
    &__couple {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.infoItemsLarge {
    gap: 8px;
    @media (max-width: 1600px) {
        padding: 12px;
    }
}

.profile {
    overflow-y: overlay;
    width: 100%;
    height: 100%;
    display: grid;
    row-gap: 16px;

    grid-auto-rows: min-content;
    position: relative;
    &__referal {
    }
    &__userInfo {
        position: relative;
        //height: 230px;
        background: linear-gradient(
                270deg,
                #222328 0%,
                rgba(34, 35, 40, 0) 100%
            ),
            linear-gradient(360deg, #222328 80%, rgba(34, 35, 40, 0) 100%),
            url("/assets/image/wtfProfile.svg") no-repeat 70% 130%;
        background-size: 200% 200%;

        display: grid;
        grid-template-columns: 125px 125px auto 136px 136px 136px;
        //
        grid-template-rows: 88px 22px 40px;
        grid-template-areas:
            "photo . . gameInfo1 gameInfo2 gameInfo3"
            "nick nick nick gameInfo1 gameInfo2 gameInfo3"
            "info info info gameInfo1 gameInfo2 gameInfo3";

        @media (max-width: 1600px) {
            // grid-template-columns: 1fr 1fr auto 1.09fr 1.09fr 1.09fr;
            grid-template-columns: 1fr 1fr auto auto auto auto;
            grid-template-rows: auto;
            row-gap: 8px;
            grid-template-areas:
                "photo .    .    .         gameInfo1 gameInfo2"
                "nick  nick nick .         gameInfo1 gameInfo2"
                "info  info info .         .         gameInfo3";
        }

        @media (max-width: 375px) {
            // grid-template-columns: 1fr 1fr auto 1.09fr 1.09fr 1.09fr;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto;
            row-gap: 8px;
            grid-template-areas:
                "photo gameInfo1 "
                "nick  gameInfo2 "
                "info  gameInfo3 ";
        }

        align-items: center;
        background-color: $profile;
        border-radius: 8px;
        padding: 24px;
        row-gap: 16px;
        column-gap: 8px;

        > img {
            width: 80px;
            height: 80px;
            border-radius: 41px;
            margin-bottom: 8px;
            grid-area: photo;
        }

        > span {
            font-weight: bold;
            font-size: 19px;
            grid-area: nick;
        }
        .info_info {
            grid-area: info;
            display: flex;
            flex-direction: row;
            gap: 8px;
            flex-wrap: wrap;
            .profile__balance {
                padding-top: 12px;
                padding-bottom: 12px;
                max-width: fit-content;

                min-width: 121px;
            }
            .profile__deposit {
                grid-area: info;
                max-width: fit-content;
                padding-top: 12px;
                padding-bottom: 12px;
                min-width: 121px;
            }
        }

        .profile__gridient {
            position: absolute;
            z-index: 2;
            left: 0;
            top: 0;
            width: 45%;
            height: 83px;

            border-radius: 8px 0px 0px 0px;
        }
        .profile__gameInfo1 {
            grid-area: gameInfo1;
        }
        .profile__gameInfo2 {
            grid-area: gameInfo2;
        }
        .profile__gameInfo3 {
            grid-area: gameInfo3;
        }
        .infoItemsLarge {
            align-self: end;
            justify-self: end;
            @media (max-width: 1600px) {
                width: 110px;
                height: min-content;
            }
        }

        @media (max-width: 425px) {
            padding: 12px;
            > img {
                width: 50px;
                height: 50px;
                align-self: center;
                margin: 0;
            }
        }
    }
    &__settings {
        background: #222328;
        border-radius: 8px;

        padding: 24px;

        .btnSave {
            height: 44px;
            min-width: 136px;
        }
        .findUrl {
            height: 44px;
            min-width: 136px;
        }

        @media (max-width: 425px) {
            padding: 12px;
        }
    }
    &__data {
        background: #222328;
        border-radius: 8px;
    }
    &__data-body {
        padding: 24px;

        width: 100%;
        display: grid;
        grid-template-rows: auto auto 1fr;
        row-gap: 20px;

        @media (max-width: 425px) {
            padding: 12px;
        }
    }
    &__data-selected {
        position: relative;

        width: 100%;
    }
    &__data-grid {
        display: grid;
        row-gap: 8px;
    }

    h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 22px;
    }
}
