.add-funds {
    // height: 100%;
    display: flex;

    max-height: calc(85vh - 46px - 24px);

    &__container {
        overflow: auto;
        position: relative;
        padding-bottom: 24px;
        width: 448px;

        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__options {
    }

    &__skins {
        // flex: 1 0 auto;

        height: 333px;
        overflow-y: scroll;
    }
    &__skins-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 8px;
        gap: 8px;
    }

    &__btns {
        height: 333px;
        // flex: 1 0 auto;

        display: grid;
        grid-template-columns: repeat(4, 102px);

        gap: 8px;
    }

    &__btn {
        transition: 0.1s;
        width: 102px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #28292d;
        box-shadow: 0px 1px 7px -2px rgba(26, 27, 29, 0.3);
        border-radius: 8px;
        &:hover {
            background: #2f3035;
        }
    }

    &__deposit-amount {
        flex: 0 1 auto;
    }

    &__bottom {
        font-size: 13px;

        color: #ffffff;

        opacity: 0.6;
    }

    &__promo {
    }

    @media (max-width: 768px) {
        height: 100%;
        max-height: unset;
        &__container {
            gap: 12px;
            width: 100%;
            padding: 0;
        }
        &__skins-grid {
            grid-template-columns: repeat(auto-fit, 110px);
            justify-content: center;
        }
        &__options {
            > .options {
                padding: 8px;
                border-radius: 25px;
                flex-wrap: wrap;
                gap: 8px;
                background: #242529;

                // background-color: transparent;
                > .form_radio_btn {
                    margin: 0;
                    background: #28292d;
                    border-radius: 25px;
                }
            }
        }
    }
}
.add-funds-deposit-amount {
    display: flex;
    gap: 8px;

    &__input {
        flex: 1 1 50%;
        display: flex;
        & input {
            flex: 1 1 auto;
        }
    }
    &__input-inner {
        font-size: 17px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #28292d;
        border-radius: 8px 0 0 8px;
        div {
            flex: 1 0 100%;
            input {
                &::placeholder {
                    font-size: 17px;
                }
            }
        }
    }

    &__input-banan {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 1 auto;
        padding-right: 16px;

        background: #28292d;
        border-radius: 0 8px 8px 0;
    }

    &__btn {
        flex: 1 1 50%;
    }
}

.add-funds-promo {
    background: #222328;
    border-radius: 8px;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    &__title {
        font-size: 19px;
    }
    &__bottom {
        display: grid;
        gap: 8px;
        grid-template-columns: 1fr 1fr;
    }
}
